@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.eot");
  src: url("../fonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.search {
  margin-bottom: 40px;
}

.search__form {
  display: flex;
  background-color: #E1DFDF;
}
.search__form__search__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.search__form i {
  position: relative;
  top: 16px;
  left: 90px;
  color: #646363;
}

.search__heading {
  height: 250px;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #eeeeee;
  margin-bottom: 30px;
}
.search__heading h1 {
  font-family: "robotoblack", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 40px;
  padding-top: 40px;
}
.search__heading p {
  font-family: "robotoblack", Arial, Helvetica, sans-serif;
  color: #646363;
  font-size: 16px;
  padding-bottom: 20px;
  margin: 15px;
}

.search__heading-btn {
  border-radius: 20px;
  background-color: #FF79DA;
  padding: 10px 20px;
}
.search__heading-btn a {
  text-decoration: none;
  color: #fff;
}

.search__nav h2 {
  font-family: "robotoblack", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px 0 10px 20px;
  font-size: 20px;
}
.search__nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.search__nav li {
  display: flex;
  position: relative;
  width: 90%;
  margin: 10px 20px 10px 10px;
  padding-left: 8px;
}
.search__nav__icon {
  padding-right: 15px;
  font-size: 14px;
}
.search__nav__number {
  position: absolute;
  left: 0;
  align-self: center;
  border-radius: 100%;
  background-color: #9356DC;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.search__nav a {
  width: 80%;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 18px;
  text-align: left;
  background-color: #eeeeee;
  box-shadow: 2px 4px 10px #E1DFDF;
  padding: 20px;
  text-decoration: none;
  color: #000;
  padding-left: 35px;
}

.container {
  height: 1060px;
  padding-top: 15px;
  background-color: #eeeeee;
}
.container h2 {
  font-family: "robotoblack", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px 0 10px 20px;
  font-size: 20px;
  text-align: left;
}

.container__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__result a {
  text-decoration: none;
  color: #000;
}
.container__result__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 10px;
}
.container__result__card img {
  width: 290px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.container__result__card h4 {
  background-color: #99E2D0;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  color: #09b603;
  position: absolute;
  right: 20px;
  padding: 5px 10px;
  font-size: 14px;
}
.container__result__card figcaption {
  width: 290px;
  height: 70px;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}
.container__result__card figcaption h3 {
  margin: 10px 10px 0 10px;
  font-size: 16px;
}
.container__result__card figcaption p {
  margin: 0 0 10px 10px;
  color: #646363;
}
.container__result__card figcaption i {
  position: absolute;
  left: 250px;
  bottom: 30px;
  font-size: 22px;
  color: #646363;
}

footer {
  background-color: #000;
  color: #fff;
}
footer p {
  margin: 0 0 15px 20px;
}
footer img {
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
  width: 30%;
  padding-top: 20px;
}
footer ul {
  padding: 0 0 30px 20px;
  margin: 0;
}
footer li {
  list-style-type: none;
  padding-bottom: 5px;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
footer i {
  padding-right: 15px;
  padding-left: 0;
}

.page1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page1 figure {
  margin: 0;
  height: 280px;
}
.page1 img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-top: 10px;
}
.page1 figcaption {
  width: 100%;
  height: 74px;
  position: relative;
  bottom: 40px;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  border-radius: 20px 20px 0 0;
}
.page1 figcaption h1 {
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
  padding: 30px 10px 0 10px;
  font-size: 22px;
}
.page1 figcaption i {
  position: absolute;
  top: 30px;
  left: 260px;
  font-size: 22px;
  color: #646363;
}

.container__page {
  background-color: #eeeeee;
  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
}
.container__page .block1 {
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}
.container__page .block1 h2 {
  color: #646363;
  font-size: 20px;
}
.container__page .block1 ul {
  padding: 0;
}
.container__page .block1 li {
  height: 62px;
  list-style-type: none;
  border-radius: 18px;
  background-color: #fff;
  margin-bottom: 14px;
}
.container__page .block1 li h3 {
  padding: 10px 0 0 10px;
  margin: 0;
  font-size: 16px;
}
.container__page .block1 li p {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 14px;
}
.container__page .block1 li a {
  position: absolute;
  text-decoration: none;
  color: #000;
}
.container__page .block1__number {
  position: absolute;
  left: 260px;
  top: 20px;
  font-size: 14px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
