
@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./layouts/form.scss";
@import "./layouts/footer.scss";
@import "./layouts/header.scss";
@import "./layouts/navs.scss";
@import "./base/base.scss";
@import "./base/fonts.scss";
@import "./base/animations.scss";
@import "./components/buttons.scss";

.loader {
    top: 50%;
    left: 40%;
    position: absolute;
    .ball {
        &-1{
        height: 20px;
        width: 20px;
        display: inline-block; 
        background-color: $color-tertiary;
        border-radius: 10%;
        opacity: 0;
        animation: ball 0.4s 100ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
    }
    &-2 {
        height: 20px;
        width: 20px;
        display: inline-block; 
        background-color: $color-primary;
        border-radius: 10%;
        opacity: 0;
        animation: ball 0.4s 300ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
    }
    &-3 {
        height: 20px;
        width: 20px;
        display: inline-block; 
        background-color: $color-secondary;
        border-radius: 10%;
        opacity: 0;
        animation: ball 0.4s 500ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
    }
}
}
.search {
    padding: 0.625rem 0 2.5rem 0;
    animation: $anim-home-hidden;
    @include large {
        padding-bottom: 4rem;
        background-color: $color-light;
    }
}
.search__heading {
    height: 220px;
    font-family: $text-font;
    line-height: 1.2em;
    text-align: center;
    background-color: $color-main-bg;
    @include large {
        padding-bottom: 30px;
    }
    h1 {
        font-family: $text-title-font;
        font-weight: bold;
        font-size: map-get($font-size, h1);
        margin: 0 2.5rem;
        padding-top: 24px;
        @include medium {
            font-size: 1.6rem;
        }
        }
        h4 {
            @include h4;
            font-weight: normal;
            color: $color-icon;
            @include medium {
                font-size: 1.1rem;
            }
        }
    }

    a {
        text-decoration: none;
        color: $color-light;
        }

.container {
    padding-top: 0.9rem;
    padding-bottom: 2.7rem;
    background-color: $color-main-bg;
    animation: $anim-home-hidden;
    @include large {
        background-color: $color-light    }
    h2 {
        @include title-h2;
        margin-top: 1.5rem;
        text-align: left;
        @include large {
            font-size: 2rem;
        }
    }
}
.container__result {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   a {
        text-decoration: none;
        color: $color-dark;
   }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        margin: 0.62rem;
        @include large {
            width:28rem;
            margin: 3rem;
        }
    img {
        width: 18rem;
        height: 9.4rem;
        object-fit: cover;
        border-radius: 1.25rem 1.25rem 0 0;
        box-shadow: $shadow-light;
        @include large {
            width: 28rem;
            height: 14rem;
            margin-right: 1rem;
        }
}
    h4 {
        @include h4;
        background-color: $color-tertiary;
        color: $dark-font-square-btn;
        position: absolute;
        right: 1.25rem;
        padding: 0.31rem 0.62rem;
        @include large {
            font-size: 1.2rem;
        }
    }
    figcaption {
        @include legend;
        grid-template-rows: auto;
        width: 18rem;
        height: 4.4rem;
        background-color: $color-light;
        border-radius: 0 0 1.25rem 1.25rem;
        box-shadow: $shadow-light;
        &:hover {
            box-shadow: $shadow-dark;
        }
        @include large {
            width: 28rem;
            margin-right: 1rem;
            background-color: $color-main-bg;
        }
        h3 {
            grid-column-start: 1;
            grid-row-start:2;
            margin: 0.62rem 0.62rem 0 0.62rem;
            font-size: map-get($font-size, h3);
            @include large {
                font-size: 1.2rem;
            }
        }
        p {
            grid-column-start: 1;
            grid-row-start:3;
            margin: 0 0 0.62rem 0.62rem;
            color: $color-icon;
            @include large {
                font-size: 1.2rem;
            }
        }
        .btn-empty {
            @include btn-empty;
        }
        .btn-full {
            @include btn-full;
            &:hover {
                opacity: 1;
                transition: opacity 1500ms;
             }
        }
    }
} 
}

