
@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./layouts/form.scss";
@import "./layouts/footer.scss";
@import "./layouts/header.scss";
@import "./base/base.scss";
@import "./base/fonts.scss";
@import "./base/animations.scss";

.search {
    margin: 0.625rem 0 2.5rem 0;
}
.search__form {
    background-color: $color_form;
    box-shadow: inset 0 -10px 20px -5px $color-shadow;
    @include medium {
        background-color: $color-light;
    }
    .search__place {
        position: relative;
        width: 10.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    @include medium {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
   &__search__input {
       height: 3rem;
       background-color: transparent;
       border: none;
       text-align: center;
       font-family: $text-title-font;
       font-size: 0.938rem;
       @include medium {
           font-size: 1.1rem;
           padding-left: 1.4rem;
       }
    }
    .input__icon {
        @include icon;
        @include medium {
            font-size: 0.9rem;
        }
        top: 1rem;
       }
   }
.search__heading {
    height: 220px;
    font-family: $text-font;
    line-height: 1.2em;
    text-align: center;
    background-color: $color-main-bg;
    margin-bottom: 1.875rem;
    h1 {
        font-family: $text-title-font;
        font-weight: bold;
        font-size: map-get($font-size, h1);
        margin: 0 2.5rem;
        padding-top: 24px;
        }
        h4 {
            font-family: $text-font;   
            font-weight: normal;
            color: $color-icon;
            font-size: map-get($font-size, h4);
        }
    }
.search {
    button {
        @include button;
        }
    a {
        text-decoration: none;
        color: $color-light;
        }
    }
.search__nav {
    h2 {
        @include title-h2;
        @include medium {
            padding-top: 1rem;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        padding: 0;
    }
    li {
        display: flex;
        position: relative;
        width: 300px;
        margin: 0.625rem 1.25rem 0.625rem 1.25rem;
        padding-left: 0.5rem;
    }
    &__icon {
        color: $color-icon;
        padding-right: 0.9rem;
        font-size: 0.9rem;
    }
    &__number {
        position: absolute;
        left: 0;
        align-self: center;
        border-radius: 100%;
        background-color: $color-primary;
        font-family: $text-font;
        font-size: 0.75rem;
        width: 1.25rem;
        height: 1.25rem;
        color: $color-light;
    }
    a {
        width: 80%;
        font-family: $text-font;
        font-size: map-get($font-size, a);
        border-radius: 1.12rem;
        text-align: left;
        background-color: $color-main-bg; 
        box-shadow: 2px 4px 10px $color-shadow;
        padding: 1.25rem;
        text-decoration: none;
        color: $color-dark; 
        padding-left: 2.2rem;
        transition: background-color, box-shadow 300ms;
        &:hover {
            background-color: $light-main-btn;
            box-shadow:  2px 4px 10px $color-shadow-hover;
            i {
            color: $color-primary
            }
        }
        @include medium {
            background-color: $color-light;
        }
    }
}
.container {
    height: 66.25rem;
    padding-top: 0.9rem;
    background-color: $color-main-bg;
    h2 {
        @include title-h2;
        text-align: left;
    }
}
.container__result {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   a {
        text-decoration: none;
        color: $color-dark;
        &:hover {
            .btn-full {
                display:flex;
            }
        }
   }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        margin: 0.62rem;
    img {
        width: 18rem;
        height: 9.4rem;
        object-fit: cover;
        border-radius: 1.25rem 1.25rem 0 0;
        box-shadow: 2px 4px 10px #b5b5b5;
}
    h4 {
        background-color: $color-tertiary;
        font-family: $text-font;
        color:#2B9D80;
        color: $dark-font-square-btn;
        position: absolute;
        right: 1.25rem;
        padding: 0.31rem 0.62rem;
        font-size: map-get($font-size, h4);
    }
    figcaption {
        display: grid;
        grid-template-columns: 1fr 40px 15px;
        grid-template-rows: auto;
        width: 18rem;
        height: 4.4rem;
        font-family: $text-font;
        background-color: $color-light;
        border-radius: 0 0 1.25rem 1.25rem;
        box-shadow: 2px 4px 10px #b5b5b5;
        h3 {
            grid-column-start: 1;
            grid-row-start:2;
            margin: 0.62rem 0.62rem 0 0.62rem;
            font-size: map-get($font-size, h3)
        }
        p {
            grid-column-start: 1;
            grid-row-start:3;
            margin: 0 0 0.62rem 0.62rem;
            color: $color-icon; 
        }
        .btn-empty {
            grid-column-start: 2;
            grid-row-start:2;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            font-size: 1.3rem;
            color: $color-icon;
        }
        .btn-full {
            grid-column-start: 2;
            grid-row-start:2;
            display: none;
            align-self: flex-end;
            justify-content: center;
            font-size: 1.3rem;
            color: $color-primary;
            animation: heart 1500ms;
        }
    }
} 
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    figure {
        margin: 0;
        height: 19rem;
}
    img {
        width: 100%;
        height: 17.5rem;
        object-fit: cover;
        margin-top: 0.6rem;
        }
    figcaption {
        display: grid;
        grid-template-columns: 1fr 40px 15px;
        grid-template-rows: 30px 40px;
        width: 100%;
        height: 5rem;
        position: relative;
        bottom: 2.5rem;
        font-family: $text-font;
        background-color: #eeeeee;
        border-radius: 1.25rem 1.25rem 0 0;
    h1 {
        font-family: $logo-font;
        padding: 1.75rem 0.625rem 0 0.625rem;
        font-size: map-get($font-size, h1)
            }
    .btn-empty {
        grid-column-start: 2;
        grid-row-start:2;
        font-size: 1.3rem;
        color: $color-icon;
        }
    .btn-full {
        grid-column-start: 2;
        grid-row-start:2;
        display: none;
        font-size: 1.3rem;
        color: $color-primary;
        }
    }
  }
.container__page {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eeeeee;
    padding: 1rem 0.625rem 0 0.625rem;
    .block1, .block2, .block3 {
        font-family: $text-font;
        @include medium {
        flex-wrap: nowrap;
    }
        h2 {
            $color-font-h3: #8E8E8E;
            color: $color-font-h3;
            font-size: map-get($font-size, h2);
            border-bottom: 0.25rem solid $color-tertiary;
            padding-bottom: 0.313rem;
            width: 3rem;
            }
        ul {
            padding: 0;
            margin-bottom: 1.75rem; 
            }
        li {
            position: relative;
            height: auto;
            list-style-type: none;
            border-radius: 1.125rem;
            background-color: $color-light;
            box-shadow: 0.125rem 0.25rem 0.625rem #E1DFDF;
            padding-bottom: 0.625rem;
            margin-bottom: 0.875rem; 
            transition: box-shadow 300ms;
            &:hover {
                box-shadow: 2px 4px 10px $color-shadow-hover;
            }
            h4 {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
                padding: 0.625rem 0 0 0.625rem;
                margin: 0;
                font-size: map-get($font-size, h4)
                }
            p {
                grid-column-start: 1;
                grid-row-start: 3;
                padding: 0 0 0 0.625rem;
                margin: 0;
                font-size: 0.77rem;
                }
            a {
                display: grid;
                grid-template-columns: 1fr 56px 15px;
                grid-template-rows: auto;
                width: 100%;
                text-decoration: none;
                color: $color-dark;
                &:hover {
                    & .box, .block__number{
                    display: inline-block;
                    transform-origin: right;
                    animation: btn-appear 200ms;
                    }
                    & .btn-check {
                        animation: check 500ms;
                    }
                    & .block__number{
                        justify-content: start;
                    }
                    & p{
                        transform-origin: none;
                    }
                    & .ellipse{
                        display: inline-block;
                    }
                    & .text{
                        display: none;
                    }
                    & .btn-full {
                        animation: heart 1500ms;
                        display: flex;
                }
                    & .btn-empty {
                        display: none;
                    }
            }
            }
            .ellipse{
                display: none;
            }
            .box {
                position: absolute;
                display: none;
                height: 100%;
                right: 0;
                width: 40px;
                border-radius: 0 1.125rem 1.125rem 0;
                background-color: $color-tertiary;
                @include medium{
                    width: 10%;
                }
                }
            .btn-check {
                margin-top: 50%;
                margin-left: 30%;
                background-color: $color-light;
                color: $color-tertiary;
                border-radius: 50%;
            }
    } 
        .block__number {
            grid-column-start: 2;
            grid-row-start: 3;
            display: flex;
            justify-content: center;
            font-size: 0.77rem;
            font-weight: bold;
            }   
       
            }
        }
.order {
    background-color: #eeeeee;
        .block__form {
            text-align: center;
            button {
                @include button;
                margin-bottom: 2.5rem;
            }
                }
            }
    
.block1 {
    animation: card  0ms 500ms both;
}
.block2 {
    animation: card 0ms 1000ms both;
}
.block3 {
    animation: card 0ms 1500ms both;
}