
@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./layouts/form.scss";
@import "./layouts/footer.scss";
@import "./layouts/header.scss";
@import "./base/base.scss";
@import "./base/fonts.scss";


.search {
    margin: 0.625rem 0 2.5rem 0;
}
.search__form {
    background-color: #E1DFDF;
    .search__place {
        position: relative;
        width: 10.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    @include medium {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.25rem;
        margin-bottom: 1.25rem;
    }
   &__search__input {
       width: 100%;
       height: 3rem;
       background-color: transparent;
       border: none;
       text-align: center;
       font-family: $text-font;
       font-size: 0.938rem;
       @include medium {
           font-size: 1.1rem;
           padding-left: 1.4rem;
       }
    }
       .input__icon {
        @include icon;
        @include medium {
            font-size: 0.9rem;
        }
        top: 1rem;
       }
   }
    .search__heading {
        height: 15.625rem;
        font-family: $text-font;
        text-align: center;
        background-color: #eeeeee;
        margin-bottom: 1.875rem;
        @include medium {
            background: none;
        }
        h1 {
            font-family: $text-title-font;
            font-weight: bold;
            font-size: map-get($font-size, h1);
            margin: 0 2.5rem;
            padding-top: 2.5rem;
        }
        p {
            font-family: $text-title-font;   
            color: $color-icon;
            font-size: map-get($font-size, p);
            padding-bottom: 1.25rem;
            margin: 0.9rem;
        }
    }
.search {
    &__btn {
    border-radius: 1.25rem;    
    background-image: linear-gradient(to right, $color-secondary, darken($color-secondary, 40%));
    padding: 0.6rem 1.25rem;
}
    a {
        text-decoration: none;
        color: $color-white;
    }
    }
.search__nav {
    @include medium {
        background-color: #e1dfdf;
    }
    h2 {
        @include title-h2;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }
    li {
        display: flex;
        position: relative;
        width: 25rem;
        margin: 0.625rem 1.25rem 0.625rem 1.25rem;
        padding-left: 0.5rem;
    }
    &__icon {
        padding-right: 0.9rem;
        font-size: 0.9rem;
    }
    &__number {
        position: absolute;
        left: 0;
        align-self: center;
        border-radius: 100%;
        background-color: $color-primary;
        font-family: $text-font;
        font-size: 0.75rem;
        width: 1.25rem;
        height: 1.25rem;
        color: $color-white;
    }
    a {
        width: 80%;
        font-family: $text-font;
        font-size: map-get($font-size, a);
        border-radius: 1.12rem;
        text-align: left;
        background-color: #eeeeee; 
        box-shadow: 0.125rem 0.25rem 0.625rem #E1DFDF;
        padding: 1.25rem;
        text-decoration: none;
        color: $color-black; 
        padding-left: 2.2rem;
        @include medium {
            background-color: $color-white;
        }

    }
}
.container {
    height: 66.25rem;
    padding-top: 0.9rem;
    background-color: #eeeeee;
    h2 {
        @include title-h2;
        text-align: left;
    }
}
.container__result {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   a {
        text-decoration: none;
        color: $color-black;
   }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        margin: 0.62rem;
    img {
        width: 18rem;
        height: 9.4rem;
        object-fit: cover;
        border-radius: 1.25rem 1.25rem 0 0;
        
    }
    h4 {
        background-color: $color-tertiary;
        font-family: $text-font;
        
        color:#03a880;
        position: absolute;
        right: 1.25rem;
        padding: 0.31rem 0.62rem;
        font-size: map-get($font-size, h4);
    }
    figcaption {
        width: 18rem;
        height: 4.4rem;
        font-family: $text-font;
        background-color: $color-white;
        border-radius: 0 0 1.25rem 1.25rem;
        h3 {
            margin: 0.62rem 0.62rem 0 0.62rem;
            font-size: map-get($font-size, h3)
        }
        p {
            margin: 0 0 0.62rem 0.62rem;
            color: $color-icon; 
        }
        i {
            @include icon;
            left: 15.6rem;
            bottom: 2.3rem;
            font-size: 1.3rem;
        }
    }
} 
}
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    
    figure {
        margin: 0;
        height: 20rem;
}
    img {
        width: 100%;
        height: 17.5rem;
        object-fit: cover;
        margin-top: 0.6rem;
        }
    figcaption {
        width: 100%;
        height: 4.563rem;
        position: relative;
        bottom: 2.5rem;
        font-family: $text-font;
        background-color: #eeeeee;
        border-radius: 1.25rem 1.25rem 0 0;
    h1 {
        font-family: $logo-font;
        padding: 1.75rem 0.625rem 0 0.625rem;
        font-size: map-get($font-size, h1)
            }
    .title__icon {
                @include icon;
                top: 1rem;
                right: 4rem;
                i {
                    font-size: 1.4rem;
                    color: #646363;
                }
            }
        }
    }
    .container__page {
        height: 100%;
        background-color: #eeeeee;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        .block1 {
            font-family: $text-font;
            h2 {
                color: $color-icon;
                font-size: map-get($font-size, h2);
                border-bottom: 0.25rem solid $color-tertiary;
                padding-bottom: 0.313rem;
                width: 3rem;
            }
            ul {
                padding: 0;
                margin-bottom: 1.75rem;
                
            }
            li {
                display: flex;
                position: relative;
                list-style-type: none;
                border-radius: 1.125rem;
                background-color: $color-white;
                box-shadow: 0.125rem 0.25rem 0.625rem #E1DFDF;
                padding-bottom: 0.625rem;
                margin-bottom: 0.875rem;
                h3 {
                    padding: 0.625rem 0 0 0.625rem;
                    margin: 0;
                    font-size: map-get($font-size, h3)
                }
                p {
                    padding: 0 2.5rem 0 0.625rem;
                    margin: 0;
                    font-size: 0.875rem;
                }
                a {
                    text-decoration: none;
                    color: $color-black;
                 }
                }
            &__number {
                position: absolute;
                right: 2rem;
                top: 1.875rem;
                font-size: 0.875rem;
                font-weight: bold;
            }   
            &__form {
                text-align: center;
                button {
                width: 10rem;
                border-radius: 1.25rem;
                border: none;
                background-image: linear-gradient(to right, $color-secondary, darken($color-secondary, 40%));
                font-family: $text-font;
                color: $color-white;
                padding: 0.625rem 1.25rem;
                margin-bottom: 2.5rem;
            }
            }

        }
    }
    