/*bouton "explorer" menu accueil */
.search {
    button {
        @include main-btn;
        }
    }
/*bouton "commander" page restaurant */
.order {
    background-color: $color-main-bg;
        .block__form {
            text-align: center;
                button {
                    @include main-btn;
                    margin-bottom: 2.5rem;
             
                }
            }
        }