footer { 
    display: block;
    background-color: $color-dark;
    color: $color-light;
    @include medium {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img {
        font-family: $logo-font;
        width: 120px;
        padding-top: 1.25rem;
        margin: 0 0  0.875rem 1.25rem;
        @include medium {
            width: 200px;
            margin: 0;
        }
        @include large {
            width: 250px;
        }
    }
    ul {
        padding: 0 0 1.75rem 1.25rem;
        margin: 0;
    }
    li {
        list-style-type: none;
        padding-bottom: 0.313rem;  
    }
    a {
        text-decoration: none;
        color: $color-light;
        font-family: $text-font;
        font-size: map-get($font-size, a);
        @include large {
            font-size: 1.2rem;
        }
    }
    i {
        padding-right: 0.875rem;
        padding-left: 0;
    }
}