.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    background-color: $color-light;
    z-index: 1;
    animation: loader 3s;
    .ball {
        &-1{
        height: 20px;
        width: 20px;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 50%; 
        background-color: $color-tertiary;
        border-radius: 10%;
        opacity: 0;
        animation: ball 0.3s 100ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
        @include medium {
            left: 46%;
        }
        @include large {
            left: 48%;
        }
    }
    &-2 {
        height: 20px;
        width: 20px;
        display: inline-block; 
        background-color: $color-primary;
        border-radius: 10%;
        position: absolute;
        left: 50%;
        top: 50%; 
        opacity: 0;
        animation: ball 0.3s 300ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
    }
    &-3 {
        height: 20px;
        width: 20px;
        display: inline-block; 
        background-color: $color-secondary;
        border-radius: 10%;
        position: absolute;
        left: 60%;
        top: 50%; 
        opacity: 0;
        animation: ball 0.3s 500ms 7 cubic-bezier(1,-0.03,1,.38) alternate;
        @include medium {
            left: 54%;
        }
        @include large {
            left: 52%;
        }
    }
}
}