/* Menu de navigation page accueil */
.search__nav {
    @include large {
        background-color: $color-light;
    }
    h2 {
        @include title-h2;
        margin-top: 2rem;
        @include medium {
            padding-top: 1rem;
        }
        @include large {
            font-size: 2rem;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        padding: 0;
    }
    li {
        display: flex;
        position: relative;
        width: 300px;
        margin: 0.625rem 1.25rem 0.625rem 1.25rem;
        padding-left: 0.5rem;
        @include large {
            width: 30%;
            margin: 0;
        }
    }
    &__icon {
        color: $color-icon;
        padding-right: 0.9rem;
        font-size: 0.9rem;
        @include large {
            font-size: 1.1rem;
        }
    }
    &__number {
        position: absolute;
        left: 0;
        align-self: center;
        border-radius: 100%;
        background-color: $color-primary;
        font-family: $text-font;
        font-size: 0.75rem;
        width: 1.25rem;
        height: 1.25rem;
        color: $color-light;
        @include large {
            font-size: 1rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    a {
        width: 80%;
        font-family: $text-font;
        font-size: map-get($font-size, a);
        border-radius: 1.12rem;
        text-align: left;
        background-color: $color-main-bg; 
        box-shadow: $shadow-light;
        padding: 1.25rem;
        text-decoration: none;
        color: $color-dark; 
        padding-left: 2.2rem;
        transition: background-color, box-shadow 300ms;
        &:hover {
            background-color: $light-main-btn;
            box-shadow: $shadow-dark;
            i {
            color: $color-primary
            }
        }
        @include large {
            font-size: 1.2rem;
        }
    }
}
/* Menu de navigation pages restaurants */
.container__page {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eeeeee;
    padding: 1rem 0.625rem 0 0.625rem;
    .block1, .block2, .block3 {
        font-family: $text-font;
        @include medium {
        flex-wrap: nowrap;
    }
        h2 {
            $color-font-h3: #8E8E8E;
            color: $color-font-h3;
            font-size: map-get($font-size, h2);
            border-bottom: 0.25rem solid $color-tertiary;
            padding-bottom: 0.313rem;
            width: 3rem;
            }
        ul {
            padding: 0;
            margin-bottom: 1.75rem; 
            }
        li {
            position: relative;
            height: 45px;
            list-style-type: none;
            border-radius: 1.125rem;
            background-color: $color-light;
            box-shadow: $shadow-light;
            padding-bottom: 0.625rem;
            margin-bottom: 0.875rem; 
            transition: box-shadow 300ms;
            &:hover {
                box-shadow: $shadow-dark;
            }
           
            h4 {
                grid-column: 1 / span 3;
                grid-row: 1;
                padding: 0.625rem 0 0 0.625rem;
                margin: 0;
                @include h4;
                @include large {
                    font-size: 1rem;
                }
                }
            p {
                grid-column: 1 / span 3;
                grid-row-start: 3;
                padding: 0 0 0 0.625rem;
                margin: 0;
                font-size: 0.77rem;
                @include large {
                    font-size: 0.9rem;
                }
            }
            a {
                display: grid;
                grid-template-columns: 210px 20px 56px 15px;
                grid-template-rows: auto;
                text-decoration: none;
                color: $color-dark;
                @include medium {
                    grid-template-columns: 300px 56px 15px;
                }
                @include large {
                    grid-template-columns: 360px 65px 25px;
                }
                &:hover {
                    & .box, .block__number{
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    transform-origin: right;
                    animation: btn-appear 500ms;
                    }
                    & .check {
                        animation: check 800ms;
                    }
                    & .block__number{
                        justify-content: start;
                    }
                    & p, h4 {
                        grid-column: 1;
                        transform-origin: none;
                        white-space: nowrap;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .ellipse{
                        display: inline-block; 
                        @include large {
                            display: none;
                        }
                    }
                   
            }
            }
           
            .box {
                position: absolute;
                display: none;
                height: 100%;
                right: 0;
                width: 40px;
                border-radius: 0 1.125rem 1.125rem 0;
                background-color: $color-tertiary;
                @include medium{
                    width: 10%;
                }
                }
            .check {
                background-color: $color-tertiary;
                color: $color-light;
                border-radius: 50%;
            }
    } 
        .block__number {
            grid-column-start: 3;
            grid-row-start: 3;
            display: flex;
            justify-content: center;
            font-size: 0.77rem;
            font-weight: bold;
            @include large {
                font-size: 0.9rem;
            }
            }   
            }
        }
.block1 {
    animation: card 0ms 500ms both;
}
.block2 {
    animation: card 0ms 1250ms both;
}
.block3 {
    animation: card 0ms 1750ms both;
}