@mixin title-h2 {
    font-family: $text-title-font;
    font-weight: bold;
    margin: 0 0 0.625rem 1.25rem; 
    font-size: map-get($font-size, h2)
}
@mixin icon {
    position: absolute;
    color: $color-icon;
    font-size: 1rem;
}
@mixin medium {
    @media screen and (min-width: map-get($breakpoints, medium)) {
        @content;
    }
}
@mixin large {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
@mixin button {
    width: 200px;
    border-radius: 1.25rem;
    border: none;
    background-image: linear-gradient(170deg, $color-secondary, 70%, $color-primary);
    box-shadow: 2px 4px 10px $color-shadow;
    font-family: $text-font;
    color: $color-light;
    padding: 12px;
    transition: transform 200ms;
    &:hover {
        transform: scale(1.2);
        box-shadow: 2px 4px 10px #777777;
    }
}