@mixin title-h2 {
    font-family: $text-title-font;
    font-weight: bold;
    margin: 1.25rem 0 0.625rem 1.25rem; 
    font-size: map-get($font-size, h2)
}
@mixin icon {
    position: absolute;
    color: $color-icon;
    font-size: 1rem;
}
@mixin medium {
    @media screen and (min-width: map-get($breakpoints, medium)) {
        @content;
    }
}