$logo-font: 'shrikhandregular', Arial, Helvetica, sans-serif;
$text-font: 'robotoregular', Arial, Helvetica, sans-serif;
$text-title-font: 'robotoblack', Arial, Helvetica, sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-black: #000;
$color-icon: #646363;


$font-size: (h1: 1.25rem, h2: 1.1rem, h3: 1rem, h4: 0.9rem, p: 1rem, a: 0.875rem);
$breakpoints: (medium: 680px, large: 1360px);

