$logo-font: 'shrikhandregular', Arial, Helvetica, sans-serif;
$text-font: 'robotoregular', Arial, Helvetica, sans-serif;
$text-title-font: 'robotoblack', Arial, Helvetica, sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-black: #000;
$color-icon: #646363;

@mixin title-h2 {
    font-family: $text-title-font;
    font-weight: bold;
    margin: 20px 0 10px 20px; 
    font-size: 20px;
}
