$logo-font: 'shrikhandregular', Arial, Helvetica, sans-serif;
$text-font: 'robotoregular', Arial, Helvetica, sans-serif;
$text-title-font: 'robotoblack', Arial, Helvetica, sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
